---
import Events from "../components/Events.astro";
import PageLayout from "../layouts/PageLayout.astro";

interface Event {
  img: string;
  place: string;
  date: string;
  eventName: string;
  eventDescription: string;
  discount?: string;
  promotion?: string;
  price: string;
}

const events: Event[] = [
  {
    img: "https://img.v3.goliiive.com/experiencia/flyer/4354.jpg?v=1686663723",
    place: "Maracaibo",
    date: "Sep. 2023",
    eventName: "Desde cero, Musical improvisado",
    eventDescription:
      "Desde Cero “un musical improvisado” junta lo mejor del teatro musical y la improvisación.",
    price: "Desde $39.99",
  },
  {
    img: "https://img.v3.goliiive.com/experiencia/flyer/4554.jpg?v=1685635604",
    place: "Maracaibo",
    date: "Sep. 2023",
    eventName: "ALUMNADX CASA PEÑAVERA 3",
    eventDescription:
      "Jesús Nafarrete, Daniela Zarazúa, Fer Retis, Oscar Peréz, Fernanda Aldre , Eve Ortiz",
    price: "Desde $39.99",
  },
  {
    img: "https://img.v3.goliiive.com/experiencia/flyer/4251.jpg?v=1684418000",
    place: "Maracaibo",
    date: "Sep. 2023",
    eventName: "DISOCIADA La Vero Gómez ATLANTA",
    eventDescription:
      "¿Alguna vez has sentido que eres varias personas al mismo tiempo?",
    price: "Desde $39.99",
    promotion: "Martes de 2x1",
  },
  {
    img: "https://img.v3.goliiive.com/experiencia/flyer/4704.jpg?v=1686629328",
    place: "Maracaibo",
    date: "Sep. 2023",
    eventName: "Encuento con: Ismael Cala",
    eventDescription:
      "Liderazgo e inteligencia emocional son las herramientas del éxito para nuestros niños.",
    price: "Desde $39.99",
    discount: "10% OFF",
  },
  {
    img: "https://img.v3.goliiive.com/experiencia/flyer/4704.jpg?v=1686629328",
    place: "Maracaibo",
    date: "Sep. 2023",
    eventName: "Encuento con: Ismael Cala",
    eventDescription:
      "Liderazgo e inteligencia emocional son las herramientas del éxito para nuestros niños.",
    price: "Desde $39.99",
    discount: "10% OFF",
    promotion: "Martes de 2x1",
  },
];
---

<PageLayout hasNavbar={true}>
  <!-- Cabecera Venue -->

  <div class="container md:w-full lg:w-5/6 mx-auto">
    <div
      class="bg-white rounded-lg shadow pb-4 md:w-2/3 mx-auto mt-6 px-4 md:p-0"
    >
      <div class="w-full md:h-[300px] h-[150px]">
        <img
          src="https://img.v3.goliiive.com/venue/cover/298.jpg?v=1680550424"
          class="w-full h-full rounded-tl-lg rounded-tr-lg"
        />
      </div>
      <div class="flex flex-col items-center -mt-20">
        <img
          src="https://img.v3.goliiive.com/venue/logo/298.jpg?v=1680550424"
          class="w-40 border-4 border-white"
        />
        <div class="flex items-center space-x-2 mt-2">
          <p class="text-2xl">Woko</p>
          <span class="bg-sky-500 rounded-full p-1" title="Verified">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="text-gray-100 h-2.5 w-2.5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                d="M5 13l4 4L19 7"></path>
            </svg>
          </span>
        </div>
        <p class="text-gray-700">CDMX Cuauhtémoc</p>
        <p class="text-gray-700">Aforo: 60 almas</p>
        <p class="text-sm text-gray-500 text-center">
          Comedy Club, Cervezas mexicanas e internacionales, tragos, coctelería,
          además deliciosa comida.
        </p>
        <p class="text-sm text-gray-500 mt-2">Ver en mapa</p>
      </div>
      <div
        class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2"
      >
        <div class="flex items-center space-x-4 mt-2 mb-2">
          <button
            class="flex items-center bg-sky-500 hover:bg-sky-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"
              ></path>
            </svg>
            <span>Contáctar</span>
          </button>
          <button
            class="flex items-center bg-sky-500 hover:bg-sky-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Mensaje</span>
          </button>
        </div>
      </div>
    </div>

    <Events
      title="Experiencias en Woko"
      events={events}
      flagUrl="https://img.v3.goliiive.com/venue/logo/298.jpg?v=1680550424"
    />
  </div>
</PageLayout>
