---
import PageLayout from '../../layouts/PageLayout.astro'
import StepHero from '../../components/StepHero.astro';
import Steps from '../../components/Steps.astro';
import StepHeader from '../../components/StepHeader.astro';
import PaymentSection from '../../components/PaymentSection.astro';
---

<PageLayout>
	<StepHero />
	<Steps />
	<StepHeader />

	<!-- Content Section -->
	<section class="max-w-screen-xl mx-auto my-6 grid grid-cols-3 gap-8">
		<!-- Form Column -->
		<div class="col-span-3 md:col-span-2 px-4">
			<div>
				<h4 class="text-primary text-xl">
					INICIO DE SESION
				</h4>
			
				<div class="mb-10">
          <form action="#">
            <div class="mb-6">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Email *</label
              >
              <input
                type="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="name@email.com"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Password *</label
              >
              <input
                type="password"
                id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required
              />
            </div>
            <div class="flex justify-center items-center">
              <button
                type="submit"
                class="text-white bg-primary hover:bg-sky-500 focus:ring-4 focus:outline-none focus:ring-sky-200 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
              >
                INICIAR SESIÓN
              </button>
            </div>
          </form>
        </div>

        <div class="mb-6">
          <form action="#">
            <div class="mb-6">
              <label
                for="email_"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Email *</label
              >
              <input
                type="email"
                id="email_"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="name@email.com"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="name"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Nombre *</label
              >
              <input
                type="text"
                id="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Documento de Identidad *</label
              >
              <input
                type="text"
                id="id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="password_"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Password *</label
              >
              <input
                type="password"
                id="password_"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required
              />
            </div>
            <div class="flex justify-center items-center">
              <button
                type="submit"
                class="text-white bg-primary hover:bg-sky-500 focus:ring-4 focus:outline-none focus:ring-sky-200 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
              >
                REGISTRAR
              </button>
            </div>
          </form>
        </div>
      </div>
		</div>
		<!-- EndForm Column -->

		<PaymentSection href="/steps/06" />
	</section>
	<!-- EndContent Section -->
</PageLayout>

