---
---

<div class="flex items-center space-x-4">
  <div class="flex-shrink-0 bg-gray-100 p-2 rounded-full">
    <svg
      class="stroke-2 stroke-gray-500 h-10 w-10"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
      ></path>
    </svg>
  </div>
  <div class="flex-1 min-w-0">
    <p class="text-sm font-medium text-gray-900">Basic</p>
    <p class="text-sm text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eligendi, magnam!
    </p>
  </div>
</div>