---
---

<footer class="bg-gray-900 text-white py-6">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center p-4 md:p-0"
  >
    <a
      class="bg-white text-gray-900 rounded-md py-2 px-4 md:mr-4 hover:bg-gray-200 hover:text-gray-900 my-4"
      >CONTACTANOS</a
    >
    <a class="flex items-center my-4" href="#">
      <img
        class="h-20 ml-2"
        src="https://www.goliiive.com/img/content/svg/logo-footer.svg"
        alt="Logo goliiive"
      />
    </a>
    <ul class="flex mt-4 md:mt-0 my-4">
      <li class="mr-4">
        <a href="https://bit.ly/3JSVGjE" target="_blank"
          ><i class="fab fa-whatsapp text-white hover:text-gray-300"></i></a
        >
      </li>
      <li class="mr-4">
        <a
          href="https://www.linkedin.com/company/52185040/admin/"
          target="_blank"
          ><i class="fab fa-linkedin text-white hover:text-gray-300"></i></a
        >
      </li>
      <li class="mr-4">
        <a href="https://www.facebook.com/goliiive/" target="_blank"
          ><i class="fab fa-facebook-f text-white hover:text-gray-300"></i></a
        >
      </li>
      <li>
        <a href="https://instagram.com/goliiive" target="_blank"
          ><i class="fab fa-instagram text-white hover:text-gray-300"></i></a
        >
      </li>
    </ul>
  </div>
  <p class="text-sm text-center mt-4">
    <span>&copy;</span> 2017 goliiive S.A. de C.V. ~ La vida es en vivo. Todos los
    derechos reservados <a
      class="underline hover:text-gray-300"
      href="https://www.goliiive.com/politicas">Políticas de privacidad</a
    >
    <a
      class="underline hover:text-gray-300"
      href="https://www.goliiive.com/terminos-condiciones"
      >Términos y Condiciones</a
    >
  </p>
</footer>
