---

---

<div class="block max-w-lg p-6 bg-sky-100 rounded-lg shadow mx-auto">
  <h5
    class="mb-6 mt-4 text-lg font-light tracking-tight text-gray-700 text-center"
  >
    Detalle de Pedidos
  </h5>

  <div class="w-full border-b-2 border-gray-400 border-dashed"></div>

  <div class="my-6 px-10">
    <div class="grid grid-cols-3 gap-4">
      <div class="text-sm text-start text-gray-700">2 GOLD</div>
      <div class="text-sm text-center text-gray-700">$100,00 USD</div>
      <div class="text-sm text-end text-gray-700">$200,00 USD</div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div class="text-sm text-start text-gray-700">1 GENERAL</div>
      <div class="text-sm text-center text-gray-700">$119,05 USD</div>
      <div class="text-sm text-end text-gray-700">$119,05 USD</div>
    </div>
  </div>

  <div class="w-full border-b-2 border-gray-400 border-dashed"></div>

  <div class="mt-6 px-10">
    <div class="grid grid-cols-2 gap-4">
      <div class="text-sm text-start text-gray-700">Sub Total</div>
      <div class="text-sm text-end text-gray-700">$329,05 USD</div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="text-sm text-start text-gray-700">Comisión</div>
      <div class="text-sm text-end text-gray-700">$00,00 USD</div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="text-sm text-start text-gray-700">IVA 16%</div>
      <div class="text-sm text-end text-gray-700">$39,00 USD</div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="text-sm text-start text-gray-700">
        Impuesto Municipal 10%
      </div>
      <div class="text-sm text-end text-gray-700">$11,05 USD</div>
    </div>
    <div class="grid grid-cols-2 gap-4 my-6">
      <div class="text-normal text-start text-gray-700">TOTAL</div>
      <div class="text-normal text-end text-gray-700">
        $525,00 USD
      </div>
    </div>
  </div>

  <div
    class="w-full border-b-2 border-gray-400 border-dashed mb-6"
  ></div>
</div>