---

---

<!-- Step Header Section -->
<section class="max-w-screen-xl mx-auto my-6 px-4">
  <div class="flex items-center justify-between md:justify-start">
    <h3 class="text-2xl mr-6">Nombre del evento</h3>
    <span
      class="bg-red-600 text-red-100 text-xs font-medium mr-2 px-2.5 py-0.5"
      >-10% OFF</span
    >
  </div>
  <div class="mt-2">
    <span
      class="bg-slate-300 text-slate-500 text-xs font-medium inline-flex items-center mr-2 px-2.5 py-0.5"
    >
      <svg
        width="24px"
        height="24px"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        color="#000000"
        class="w-4 h-4 mr-2"
      >
        <path
          d="M20 10c0 4.418-8 12-8 12s-8-7.582-8-12a8 8 0 1116 0z"
          stroke="#000000"
          stroke-width="1.5"
        ></path>
        <path
          d="M12 11a1 1 0 100-2 1 1 0 000 2z"
          fill="#000000"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
      CCCT-Caracas
    </span>
    <span
      class="bg-slate-300 text-slate-500 text-xs font-medium inline-flex items-center mr-2 px-2.5 py-0.5"
    >
      <svg
        width="24px"
        height="24px"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        color="#000000"
        class="w-4 h-4 mr-2"
      >
        <path
          d="M20 10c0 4.418-8 12-8 12s-8-7.582-8-12a8 8 0 1116 0z"
          stroke="#000000"
          stroke-width="1.5"
        ></path>
        <path
          d="M12 11a1 1 0 100-2 1 1 0 000 2z"
          fill="#000000"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
      CCCT-Caracas
    </span>
  </div>
</section>
<!-- End Step Header Section -->